<div class="container">
  <!--Here is when we emit out the event when a change in a component is made -->
  <app-cockpit
    (srvCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <!--Here is when a parent component wants to access an element in a component from outside-->
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
      >
        <p>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{
            serverElement.content
          }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{
            serverElement.content
          }}</em>
        </p></app-server-element
      >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (intervalStarted)="incrementedNumber($event)"> </app-game-control>
    </div>
  </div>
</div>
